body{
	box-sizing:border-box;	
}
h1{
	text-align:left;
}


body{
	background:white;
}





.checkbox {

  position: absolute; 
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid grey;
  margin-left: 20px;
  margin-right: 15px;
	
}

.checkbox.checked{
	background-color: #66c6ff;
	
}

.check{
    width: 5px;
    height: 10px;
	margin-left: 6px;
	margin-top:3px;
    border: solid white;
	border-width: 0 3px 3px 0;
	position:absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



#inputArea{
	width:80%;
	padding: 4px;
	border: 2px solid grey;
	margin-bottom: 5px;
}

#addButton{
	margin-left:15px;
	background:green;
	width:15%;
	height:30px;
	border-radius: 25px;
	color: white;
}




h3{
	margin-right: 10px;
	display:inline-block;
	height:30px;
}

#sortDropDown{
	width:80%;
	height:20px;
}




ul li{
	list-style-type: none;
	background: #fff;
	padding: 10px 10px 10px 30px;
	margin-left: 75px;
	font-size: 20px;

	}


	
	


ul li.checked{
	text-decoration: line-through;
}

.time.checked{
	text-decoration: none;
		font-size: 20px;

}


.delete {
    position: absolute;
	padding-right: 37px;
    right: 0;
	color: blue;
}
.edit {
    position: absolute;
	padding-right: 90px;
    right: 0;
	color: blue;
}
.time {
    
	margin-left: 50px;
	font-size: 10px;
}

.priority{
	position: absolute;
	padding-right: 150px;
    right: 0;
	
}



#list_div{
	margin-top: 10px;
	border: 2px solid grey;
}

h4{
	padding-top: 0px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 2px;
}


ul {
  margin: 0px;
  padding: 0;
  
}





